<h1>Chỉnh sửa thông tin</h1>

<div class="col-md-6 col-md-offset-3">
  <div id="edit-user-form">
    <%= form_for(resource, as: resource_name,
      url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :name, "Tên" %><br />
        <%= f.text_field :name, autofocus: true, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password, "Mật khẩu" %>
        <i>(để trống nếu không muốn đổi mật khẩu)</i><br />
        <%= f.password_field :password, autocomplete: "off",
          class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "Nhập lại mật khẩu" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off",
          class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :current_password, "Mật khẩu hiện tại" %>
        <i>(yêu cầu mật khẩu để cập nhật)</i><br />
        <%= f.password_field :current_password, autocomplete: "off",
          class: "form-control" %>
      </div>

      <div class="field">
        <center>
        <%= f.submit "Cập nhật", class: "btn btn-primary btn-edit-user" %>
        </center>
      </div>
    <% end %>

    <div class="field pull-right">
      Không thích? <%= link_to "Hủy tài khoản", registration_path(resource_name),
        data: { confirm: "Are you sure?" }, method: :delete %>
    </div>
  </div>
</div>
