<div class="col-md-4 col-md-offset-4">
  <div id="signin-form">
    <div class="form-header">
      <div id="image-header">
        <%= image_tag "user.png" %>
      </div>
    </div>
    <div class="form-body">
      <%= form_for(resource, as: resource_name,
        url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.email_field :email, autofocus: true, class: "form-control",
            placeholder: "Email" %>
        </div>

        <div class="field">
          <%= f.password_field :password, autocomplete: "off", class: "form-control",
            placeholder: "Mật khẩu" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, "Nhớ mật khẩu", class: "remember" %>
          </div>
        <% end %>

        <div class="field">
          <%= f.submit "Đăng nhập", class: "btn btn-primary btn-login" %>
        </div>
      <% end %>

      <div class="field">
        <%= link_to "Đăng ký", new_user_registration_path, class: "pull-right" %>
      </div>
    </div>
  </div>
</div>
